body {background-color: #f5f0e6;
    font-family: Arial;
}
/*Banner do topo*/
h1 {
    color: #ffffff; /*Cor da letra do Titulo */
    background-color: #7a0000; /* Cor de fundo do texto*/
    font-size: 35; /*Tamanho da fonte do texto*/
    text-align: center; /*Alinha o texto para o centro*/
    padding: 15px; /*Espaço dentro do elemento*/
    border: 3px solid #1a1a1a; /*Borda da div*/
    border-radius: 12px; /*Arredonda os cantos*/
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.2); /*Sombra ao redor do elemento*/
}

p {
    color: rgb(121, 66, 15);
    background-color: #a39568;
    font-style: initial;
    text-align: left;
    font-size: 18px;
    padding: 18px 25px;
    border: 1px solid #1a1a1a;
    border-radius: 8px;
    margin: 20px auto;
    max-width: 700px;
}


/* Título "Segue as novidades..." */
h2 {
    color: #1a1a1a; /*Cor da letra do Titulo */
    text-align: center; /*Alinha o texto para o centro*/
    letter-spacing: 1px; /*Espaço entre as letras*/
    margin-top: 30px; 
    border-bottom: 2px solid #7a0000;
    padding-bottom: 10px;
    width: fit-content;
    margin-left: auto;
    margin-right: auto;
}


/* Card de cada produto */
.produto {
    max-width: 280px;
    margin: 20px auto; /*Espaço fora do elemento*/
    padding: 15px;
    background-color: #ffffff;
    border: 1px solid #e8ddc7;
    border-radius: 12px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.15);
    text-align: center;
}

.produto img {
    width: 100%;
    border-radius: 8px;
}

.preco {
    font-weight: bold;
    color: #7a0000;
    font-size: 18px;
}

/* Botão do WhatsApp */
.whatsapp-btn {
    display: block;
    width: fit-content;
    background-color: #25D366;
    color: #ffffff;
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 8px;
    border: 2px solid #1a1a1a;
    font-weight: bold;
    margin: 30px auto;
}   
.grade-produtos {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
    gap: 15px;
}
.aviso-whatsapp {
    text-align: center;
    
}
